<!DOCTYPE html>
<html>
  <body>
    <div style="border: 1px solid #000; padding: 8px">
      <p style="margin: 0 0 8px;">Your employer has sent the text of HSE handbook for reading & signing - please open this link:</p>
      <a href="{{link}}" target="_blank">HSE Handbook version {{handbook_version}}</a>
      <p style="margin: 8px 0 0;">After you have read and understood the HSE handbook, <b>please sign it to confirm</b> that you have read and understood the HSE Handbook.</p>

      <div style="height: 1px; background-color: #000; margin: 8px 0;"></div>

      <p style="margin: 0 0 8px;">Jūsų darbdavys siunčia Darbuotojų saugos ir sveikatos ("DSS") sąvado tekstą perskaityti ir pasirašyti – prašau atidarykite šią nuorodą:</p>
      <a href="{{link}}" target="_blank">HSE Handbook version {{handbook_version}}</a>
      <p style="margin: 8px 0 0;">Perskaitę ir supratę DSS sąvadą, <b>pasirašykite jį, kad patvirtintumėte</b>, jog perskaitėte ir supratote DSS sąvadą.</p>

      <div style="height: 1px; background-color: #000; margin: 8px 0;"></div>

      <p style="margin: 0 0 8px;">Din arbeidsgiver har sendt teksten til HMS-håndboken for lesing og signering – vennligst åpne denne lenken:</p>
      <a href="{{link}}" target="_blank">HSE Handbook version {{handbook_version}}</a>
      <p style="margin: 8px 0 0;">Etter at du har lest og forstått HMS-håndboken, vennligst signer den for å bekrefte at du har lest og forstått HMS-håndboken.</p>

      <p style="margin: 16px 0 0">Best regards / Pagarbiai / Med vennlig hilsen,</p>
      <p style="margin: 0">{{company_name}}</p>
    </div>
  </body>
</html>
